<div class="site-index">
    <form method="post">
        <div class="label label-danger">{{ error }}</div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">Username</div>
                <div class="col-md-6"><input class="form-control" name="userName" type="text"
                                             value="{{ model.userName }}"></div>
            </div>
            <div class="row">
                <div class="col-md-3">Email</div>
                <div class="col-md-6"><input class="form-control" name="email" type="text" value="{{ model.email }}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">Password</div>
                <div class="col-md-6"><input class="form-control" name="password" type="password"
                                             value="{{ model.password }}"></div>
            </div>
            <div class="row">
                <div class="col-md-3">Proxy</div>
                <div class="col-md-6"><input class="form-control" name="proxy" type="text" value="{{ model.proxy }}">
                </div>
                <div class="col-md-1">{{ proxySpeed }}ms</div>
            </div>
            <div class="row">
                <div class="col-md-3">TimeOut min</div>
                <div class="col-md-6"><input class="form-control" name="timeoutMin" type="text"
                                             value="{{ model.timeoutMin }}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">TimeOut max</div>
                <div class="col-md-6"><input class="form-control" name="timeoutMax" type="text"
                                             value="{{ model.timeoutMax }}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">Like TimeOut min</div>
                <div class="col-md-6"><input class="form-control" name="likeTimeoutMin" type="text"
                                             value="{{ model.likeTimeoutMin }}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">Like TimeOut max</div>
                <div class="col-md-6"><input class="form-control" name="likeTimeoutMax" type="text"
                                             value="{{ model.likeTimeoutMax }}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">Max Likes for day</div>
                <div class="col-md-6"><input class="form-control" name="maxLikes" type="text"
                                             value="{{ model.maxLikes }}">
                </div>
            </div>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6"><input type="submit" class="btn btn-success" value="save"></div>
            </div>
        </div>
    </form>
</div>