<table class="table table-hover table-striped">
    <thead>
    <tr class="active">
        <td>Date</td>
        <td>Task</td>
        <td>Status</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    {% for scheduler in schedulers %}
        <tr>
            <td>{{ scheduler.date }}</td>
            <td>
                {% if scheduler.task==2 %}
                    Follow/Unfollow
                {% endif %}
            </td>
            <td>
                {% if scheduler.status==0 %}
                    Scheduled
                {% else %}
                    Completed
                {% endif %}
            </td>
            <td>
                <a onclick="return confirm('Confirm delere {{ tasks[scheduler.task] }} {{ scheduler.date }}');"
                   href="/admin/delscheduler/?id={{ scheduler.id }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<hr>
<div class="row">
    <div class="col-md-3"><select class="form-control" name="task">
            <option value="2">Follow</option>
        </select></div>
</div>
<div class="row">
    <div class="col-md-3">
        <input class="form-control" name="date" id="datetimepicker">
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <input class="btn btn-success" type="submit" value="Add" onclick="add();return false;" id="submit">
    </div>
</div>
<script>
    function add() {
        var date = $('input[name="date"]').val();
        var task = $('select[name="task"]').val();
        $("#submit").val('Loading...').prop("disabled", true);
        $.ajax({
            type: "POST",
            url: "/admin/ajax-add-scheduler",
            data: "date=" + date + "&task=" + task + "&user={{ id }}",
            success: function (result) {
                console.log(result);
                if (result > 0) {
                    $('tbody').append('<tr><td>' + date + '</td><td>Follow/Unfollow</td><td>Scheduled</td><td><a onclick="return confirm(\'Confirmdelere\');" href="/admin/delscheduler/?id=' + result + '"><i class="fa fa-trash" aria-hidden="true"></i></a></td></tr>');
                }
                $("#submit").val('Add').prop("disabled", false);
            },
            error: function () {
                $("#submit").val('Add').prop("disabled", false);
            }
        });

    }
</script>


{% set script %}
    $('#datetimepicker').datetimepicker({
    format: 'YYYY-MM-DD HH:mm:ss',
    locale: 'ru'
    });
{% endset %}

{{ this.registerJs(script,4,'datetimepicker') }}