<table class="table table-hover table-striped">
    <thead>
    <tr class="active">
        <td>Date</td>
        <td>Task</td>
        <td>Status</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    {% for scheduler in schedulers %}
        <tr>
            <td id="editTd-{{ scheduler.id }}">
                {% if scheduler.status==0 %}
                    <div id="edit-{{ scheduler.id }}"
                         onclick="edit({{ scheduler.id }})">{{ scheduler.date|date("d-m-Y h:i") }}</div>
                {% else %}
                    {{ scheduler.date|date("d-m-Y h:i") }}
                {% endif %}
            </td>
            <td>
                {% if scheduler.task=='2' %}
                    Follow/Unfollow
                {% elseif scheduler.task=='4' %}
                    ML no follow
                {% elseif scheduler.task=='6' %}
                    ML last 5 photo followers
                {% elseif scheduler.task=='8' %}
                    ML last 5 photo Selected account followers @{{ scheduler.account }}
                {% elseif scheduler.task=='10' %}
                    Follow old followings
                {% elseif scheduler.task=='12' %}
                    Like comments
                {% endif %}
            </td>
            <td>
                {% if scheduler.status==0 %}
                    Scheduled
                {% elseif scheduler.status==1 %}
                    {{ scheduler.dateUpdate }} - Running
                {% elseif scheduler.status==2 %}
                    {{ scheduler.dateUpdate }} - ERROR
                {% elseif scheduler.status==3 %}
                    {{ scheduler.dateUpdate }} - Completed
                {% endif %}
            </td>
            <td>
                <a class="btn btn-danger btn-xs" onclick="return confirm('Confirm delere {{ tasks[scheduler.task] }} {{ scheduler.date }}');"
                   href="/admin/delscheduler/?id={{ scheduler.id }}"><i class="fa fa-trash" aria-hidden="true"></i></a>

                {% if scheduler.task=='4' or scheduler.task=='6' or scheduler.task=='8' or scheduler.task=='10' or scheduler.task=='12' %}
                    <a class="btn btn-default btn-xs" href="/admin/stats-scheduler/?id={{ scheduler.id }}"><i
                                class="fa fa-bar-chart" aria-hidden="true"></i></a>
                {% endif %}

            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<hr>
<div class="row">
    <div class="col-md-3">
        <select class="form-control" name="task" id="task">
            <option value="2">Follow/Unfollow</option>
            <option value="4">ML no follow</option>
            <option value="6">ML last 5 photo followers</option>
            <option value="8">ML last 5 photo Selected account followers</option>
            <option value="10">Follow old followings</option>
            <option value="12">Like comments</option>
        </select></div>
</div>
<div class="row">
    <div class="col-md-3">
        DateFrom
        <input class="form-control datetimepicker" name="date">
    </div>
    <div class="col-md-3">
        DateTo
        <input class="form-control datetimepicker" name="dateTo">
    </div>
</div>
<div class="row" id="accountForm" style="display: none">
    <div class="col-md-3">
        <input class="form-control" name="account" id="account" placeholder="Username">
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <input class="btn btn-success" type="submit" value="Add" onclick="add();return false;" id="submit">
    </div>
</div>
<script>
    function add() {
        var date = $('input[name="date"]').val();
        var task = $('select[name="task"]').val();
        var account = $('input[name="account"]').val();

        $("#submit").val('Loading...').prop("disabled", true);
        $.ajax({
            type: "POST",
            url: "/admin/ajax-add-scheduler",
            data: "date=" + date + "&task=" + task + "&user={{ id }}" + "&account=" + account,
            success: function (result) {
                console.log(result);
                if (result > 0) {
                    var taskTxt = '';
                    if (task == 2) {
                        taskTxt = 'Follow/Unfollow';
                    } else if (task == 4) {
                        taskTxt = 'ML no follow';
                    } else if (task == 6) {
                        taskTxt = 'ML last 5 photo followers';
                    } else if (task == 8) {
                        taskTxt = ' ML last 5 photo Selected account followers @' + account;
                    } else if (task == 10) {
                        taskTxt = 'Follow old followings';
                    } else if (task == 12) {
                        taskTxt = 'Like comments';
                    }
                    $('tbody').append('<tr><td>' + date + '</td><td>' + taskTxt + '</td><td>Scheduled</td><td><a onclick="return confirm(\'Confirmdelere\');" href="/admin/delscheduler/?id=' + result + '"><i class="fa fa-trash" aria-hidden="true"></i></a></td></tr>');
                }
                $("#submit").val('Add').prop("disabled", false);
            },
            error: function () {
                $("#submit").val('Add').prop("disabled", false);
            }
        });

    }

    function edit(id) {
        if (id) {
            var html = $('#edit-' + id).html();
            $('#editTd-' + id).html('<form id="form-' + id + '" onsubmit="update(' + id + ');return false;"><input type="hidden" name="id" value="' + id + '"> <div><div class="controls col-md-9" style="position: relative"><input class="form-control datetimepicker" name="date" value="' + html + '"></div><div class="col-md-3"><input class="btn btn-success" type="submit" value="save"></div></div></form>');
            $('.datetimepicker').datetimepicker({
                format: 'DD-MM-YYYY H:mm',
                locale: 'ru',
                defaultDate: new Date()
            });
        }
    }

    function update(id) {
        var form = $("#form-" + id);
        var data = form.serializeArray().reduce(function (obj, item) {
            obj[item.name] = item.value;
            return obj;
        }, {});
        $.ajax({
            type: "POST",
            url: "/admin/ajax-update-scheduler",
            data: form.serialize(),
            success: function (result) {
                console.log(result);
            }
        });
        $("#editTd-" + id).html('<div id="edit-' + id + '" onclick="edit(' + id + ')">' + data.date + '</div>');
        console.log(form.serialize());
    }


</script>

{% set script %}
    $('.datetimepicker').datetimepicker({
    format: 'DD-MM-YYYY H:mm',
    locale: 'ru',
    defaultDate:new Date()
    });

    $("#task").change(function () {
    if ($("#task").val() == '8') {
    $('#account').val('');
    $('#accountForm').show();
    } else {
    $('#account').val('');
    $('#accountForm').hide();
    }
    });
{% endset %}

{{ this.registerJs(script,4,'datetimepicker') }}